{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="error-template">
            <h1>
                Oops!</h1>
            <h2>
                404 Not Found</h2>
            <div class="error-details">
                Sorry, Requested page not found!
            </div>
            <div class="error-actions">
                <a href="{{ url_for('tasks_all') }}" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-home"></span>
                    hezni lel lista mta3 les tasssssssssssssssssssks </a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}